apiVersion: hive.openshift.io/v1
kind: ClusterClaim
metadata:
  name: {{ name }}
  namespace: {{ sno_workshops_namespace }}
  labels:
    workshop.opdev.io: {{ sno_workshop_name }}
spec:
  clusterPoolName: exe-workshop-{{ sno_workshop_name }}-pool
  lifetime: {{ 24 * 7 }}h
