---
apiVersion: v1
metadata:
  name: 'exe-workshop-{{ workshop_name }}-pool'
baseDomain: coreostrain.me
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 1
  platform:
    aws:
      rootVolume:
        size: 120
      type: m5.xlarge
compute:
- hyperthreading: Enabled
  architecture: amd64
  name: 'worker'
  replicas: 0
  platform:
    aws:
      rootVolume:
        size: 120
      type: m5.xlarge
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: us-east-1
    subnets:
    # add subnets here
    - {{ public_subnet }}
    - {{ private_subnet }}
pullSecret: "" # skip, hive will inject based on it's secrets
sshKey: |-
  {{ ssh_key }}